## DataFrames

In [1]:
using Pkg

In [2]:
Pkg.add("DataFrames")

In [3]:
using DataFrames

In [4]:
DataFrame()

0×0 typename(DataFrame)

In [5]:
DataFrame(A=1:4, B=rand(4))

4×2 typename(DataFrame)
│ Row │ A     │ B        │
│     │ Int64 │ Float64  │
├─────┼───────┼──────────┤
│ 1   │ 1     │ 0.959313 │
│ 2   │ 2     │ 0.309681 │
│ 3   │ 3     │ 0.695631 │
│ 4   │ 4     │ 0.992385 │

In [6]:
DataFrame(rand(10,3))

10×3 typename(DataFrame)
│ Row │ x1        │ x2       │ x3        │
│     │ Float64   │ Float64  │ Float64   │
├─────┼───────────┼──────────┼───────────┤
│ 1   │ 0.0764174 │ 0.489536 │ 0.369761  │
│ 2   │ 0.259316  │ 0.511888 │ 0.0200698 │
│ 3   │ 0.525194  │ 0.224486 │ 0.536038  │
│ 4   │ 0.83733   │ 0.172144 │ 0.0517413 │
│ 5   │ 0.687664  │ 0.448395 │ 0.495353  │
│ 6   │ 0.93195   │ 0.403378 │ 0.905035  │
│ 7   │ 0.121481  │ 0.292454 │ 0.092835  │
│ 8   │ 0.0984133 │ 0.037998 │ 0.490803  │
│ 9   │ 0.294137  │ 0.185524 │ 0.354395  │
│ 10  │ 0.660684  │ 0.613865 │ 0.543181  │

In [10]:
X1 = DataFrame(randn(10,3))

10×3 typename(DataFrame)
│ Row │ x1        │ x2        │ x3         │
│     │ Float64   │ Float64   │ Float64    │
├─────┼───────────┼───────────┼────────────┤
│ 1   │ 1.63295   │ 0.438967  │ -0.0793272 │
│ 2   │ 0.468157  │ -0.38645  │ -0.171288  │
│ 3   │ -1.06414  │ 0.867431  │ -0.228558  │
│ 4   │ 0.859518  │ 0.795225  │ 0.710399   │
│ 5   │ -0.662665 │ 1.49314   │ 0.485979   │
│ 6   │ -0.689374 │ 0.232254  │ -0.775774  │
│ 7   │ 0.260577  │ 0.928602  │ 0.00350043 │
│ 8   │ 1.31575   │ 0.675672  │ -0.556424  │
│ 9   │ 1.75222   │ -0.645325 │ 0.650483   │
│ 10  │ 0.048894  │ 1.7881    │ 0.184979   │

In [11]:
Matrix(X1)

10×3 Matrix{Float64}:
  1.63295    0.438967  -0.0793272
  0.468157  -0.38645   -0.171288
 -1.06414    0.867431  -0.228558
  0.859518   0.795225   0.710399
 -0.662665   1.49314    0.485979
 -0.689374   0.232254  -0.775774
  0.260577   0.928602   0.00350043
  1.31575    0.675672  -0.556424
  1.75222   -0.645325   0.650483
  0.048894   1.7881     0.184979

In [12]:
Pkg.add("Tables")

In [13]:
using Tables

In [14]:
tv = Tables.columntable(X1)

(x1 = [1.6329528820151482, 0.4681566199272197, -1.0641357766040007, 0.8595184414234456, -0.6626651992428959, -0.6893742392396299, 0.2605767873500559, 1.3157493313468978, 1.7522228531771022, 0.04889401042732591], x2 = [0.4389666312538945, -0.38645013488076846, 0.8674314846468479, 0.795224815513787, 1.4931365990061687, 0.2322544685390851, 0.9286019659596747, 0.6756719155218174, -0.6453251168072432, 1.7881015322473266], x3 = [-0.07932724112972733, -0.1712881155911032, -0.22855770628368077, 0.7103985459204429, 0.48597851809843867, -0.7757737110124449, 0.0035004329499658607, -0.5564236212520725, 0.6504833030789151, 0.18497863920278595])

In [15]:
typeof(tv)

NamedTuple{(:x1, :x2, :x3), Tuple{Vector{Float64}, Vector{Float64}, Vector{Float64}}}

In [17]:
tv.x1

10-element Vector{Float64}:
  1.6329528820151482
  0.4681566199272197
 -1.0641357766040007
  0.8595184414234456
 -0.6626651992428959
 -0.6893742392396299
  0.2605767873500559
  1.3157493313468978
  1.7522228531771022
  0.04889401042732591

In [18]:
tv.x2

10-element Vector{Float64}:
  0.4389666312538945
 -0.38645013488076846
  0.8674314846468479
  0.795224815513787
  1.4931365990061687
  0.2322544685390851
  0.9286019659596747
  0.6756719155218174
 -0.6453251168072432
  1.7881015322473266

In [19]:
tv.x3

10-element Vector{Float64}:
 -0.07932724112972733
 -0.1712881155911032
 -0.22855770628368077
  0.7103985459204429
  0.48597851809843867
 -0.7757737110124449
  0.0035004329499658607
 -0.5564236212520725
  0.6504833030789151
  0.18497863920278595

## More on DataFrames

In [22]:
X1

10×3 typename(DataFrame)
│ Row │ x1        │ x2        │ x3         │
│     │ Float64   │ Float64   │ Float64    │
├─────┼───────────┼───────────┼────────────┤
│ 1   │ 1.63295   │ 0.438967  │ -0.0793272 │
│ 2   │ 0.468157  │ -0.38645  │ -0.171288  │
│ 3   │ -1.06414  │ 0.867431  │ -0.228558  │
│ 4   │ 0.859518  │ 0.795225  │ 0.710399   │
│ 5   │ -0.662665 │ 1.49314   │ 0.485979   │
│ 6   │ -0.689374 │ 0.232254  │ -0.775774  │
│ 7   │ 0.260577  │ 0.928602  │ 0.00350043 │
│ 8   │ 1.31575   │ 0.675672  │ -0.556424  │
│ 9   │ 1.75222   │ -0.645325 │ 0.650483   │
│ 10  │ 0.048894  │ 1.7881    │ 0.184979   │

In [23]:
names(X1)

3-element Vector{Symbol}:
 :x1
 :x2
 :x3

In [24]:
size(X1)

(10, 3)

In [25]:
size(X1, 1)

10

In [26]:
size(X1, 2)

3

In [27]:
nrow(X1)

10

In [28]:
ncol(X1)

3

In [29]:
describe(X1)

3×8 typename(DataFrame). Omitted printing of 2 columns
│ Row │ variable │ mean      │ min       │ median     │ max      │ nunique │
│     │ Symbol   │ Float64   │ Float64   │ Float64    │ Float64  │ Nothing │
├─────┼──────────┼───────────┼───────────┼────────────┼──────────┼─────────┤
│ 1   │ x1       │ 0.39219   │ -1.06414  │ 0.364367   │ 1.75222  │         │
│ 2   │ x2       │ 0.618761  │ -0.645325 │ 0.735448   │ 1.7881   │         │
│ 3   │ x3       │ 0.0223969 │ -0.775774 │ -0.0379134 │ 0.710399 │         │

In [31]:
describe(X1, cols=1:2)

2×8 typename(DataFrame). Omitted printing of 2 columns
│ Row │ variable │ mean     │ min       │ median   │ max     │ nunique │
│     │ Symbol   │ Float64  │ Float64   │ Float64  │ Float64 │ Nothing │
├─────┼──────────┼──────────┼───────────┼──────────┼─────────┼─────────┤
│ 1   │ x1       │ 0.39219  │ -1.06414  │ 0.364367 │ 1.75222 │         │
│ 2   │ x2       │ 0.618761 │ -0.645325 │ 0.735448 │ 1.7881  │         │

In [32]:
eltype.(eachcol(X1))

3-element Vector{DataType}:
 Float64
 Float64
 Float64

In [33]:
first(X1)

DataFrameRow
│ Row │ x1      │ x2       │ x3         │
│     │ Float64 │ Float64  │ Float64    │
├─────┼─────────┼──────────┼────────────┤
│ 1   │ 1.63295 │ 0.438967 │ -0.0793272 │

In [34]:
first(X1, 5)

5×3 typename(DataFrame)
│ Row │ x1        │ x2       │ x3         │
│     │ Float64   │ Float64  │ Float64    │
├─────┼───────────┼──────────┼────────────┤
│ 1   │ 1.63295   │ 0.438967 │ -0.0793272 │
│ 2   │ 0.468157  │ -0.38645 │ -0.171288  │
│ 3   │ -1.06414  │ 0.867431 │ -0.228558  │
│ 4   │ 0.859518  │ 0.795225 │ 0.710399   │
│ 5   │ -0.662665 │ 1.49314  │ 0.485979   │

In [35]:
last(X1)

DataFrameRow
│ Row │ x1       │ x2      │ x3       │
│     │ Float64  │ Float64 │ Float64  │
├─────┼──────────┼─────────┼──────────┤
│ 10  │ 0.048894 │ 1.7881  │ 0.184979 │

In [36]:
last(X1, 2)

2×3 typename(DataFrame)
│ Row │ x1       │ x2        │ x3       │
│     │ Float64  │ Float64   │ Float64  │
├─────┼──────────┼───────────┼──────────┤
│ 1   │ 1.75222  │ -0.645325 │ 0.650483 │
│ 2   │ 0.048894 │ 1.7881    │ 0.184979 │

In [37]:
X1

10×3 typename(DataFrame)
│ Row │ x1        │ x2        │ x3         │
│     │ Float64   │ Float64   │ Float64    │
├─────┼───────────┼───────────┼────────────┤
│ 1   │ 1.63295   │ 0.438967  │ -0.0793272 │
│ 2   │ 0.468157  │ -0.38645  │ -0.171288  │
│ 3   │ -1.06414  │ 0.867431  │ -0.228558  │
│ 4   │ 0.859518  │ 0.795225  │ 0.710399   │
│ 5   │ -0.662665 │ 1.49314   │ 0.485979   │
│ 6   │ -0.689374 │ 0.232254  │ -0.775774  │
│ 7   │ 0.260577  │ 0.928602  │ 0.00350043 │
│ 8   │ 1.31575   │ 0.675672  │ -0.556424  │
│ 9   │ 1.75222   │ -0.645325 │ 0.650483   │
│ 10  │ 0.048894  │ 1.7881    │ 0.184979   │

In [38]:
#X1[ Row, Column ]
X1[1:7, 1:2]

7×2 typename(DataFrame)
│ Row │ x1        │ x2       │
│     │ Float64   │ Float64  │
├─────┼───────────┼──────────┤
│ 1   │ 1.63295   │ 0.438967 │
│ 2   │ 0.468157  │ -0.38645 │
│ 3   │ -1.06414  │ 0.867431 │
│ 4   │ 0.859518  │ 0.795225 │
│ 5   │ -0.662665 │ 1.49314  │
│ 6   │ -0.689374 │ 0.232254 │
│ 7   │ 0.260577  │ 0.928602 │

In [39]:
X1[1:7,:]

7×3 typename(DataFrame)
│ Row │ x1        │ x2       │ x3         │
│     │ Float64   │ Float64  │ Float64    │
├─────┼───────────┼──────────┼────────────┤
│ 1   │ 1.63295   │ 0.438967 │ -0.0793272 │
│ 2   │ 0.468157  │ -0.38645 │ -0.171288  │
│ 3   │ -1.06414  │ 0.867431 │ -0.228558  │
│ 4   │ 0.859518  │ 0.795225 │ 0.710399   │
│ 5   │ -0.662665 │ 1.49314  │ 0.485979   │
│ 6   │ -0.689374 │ 0.232254 │ -0.775774  │
│ 7   │ 0.260577  │ 0.928602 │ 0.00350043 │

In [40]:
X1[:, 3]

10-element Vector{Float64}:
 -0.07932724112972733
 -0.1712881155911032
 -0.22855770628368077
  0.7103985459204429
  0.48597851809843867
 -0.7757737110124449
  0.0035004329499658607
 -0.5564236212520725
  0.6504833030789151
  0.18497863920278595

In [42]:
X1[: , Between(:x1,:x2)]

10×2 typename(DataFrame)
│ Row │ x1        │ x2        │
│     │ Float64   │ Float64   │
├─────┼───────────┼───────────┤
│ 1   │ 1.63295   │ 0.438967  │
│ 2   │ 0.468157  │ -0.38645  │
│ 3   │ -1.06414  │ 0.867431  │
│ 4   │ 0.859518  │ 0.795225  │
│ 5   │ -0.662665 │ 1.49314   │
│ 6   │ -0.689374 │ 0.232254  │
│ 7   │ 0.260577  │ 0.928602  │
│ 8   │ 1.31575   │ 0.675672  │
│ 9   │ 1.75222   │ -0.645325 │
│ 10  │ 0.048894  │ 1.7881    │

In [43]:
X1.x4 = rand(10)

10-element Vector{Float64}:
 0.7660471331876322
 0.8179529873344109
 0.025535973392208255
 0.48150811756940604
 0.9090209627347376
 0.10243694152976479
 0.04063034291647116
 0.11660306779579788
 0.3371697981141526
 0.22659866824774233

In [46]:
X1

10×4 typename(DataFrame)
│ Row │ x1        │ x2        │ x3         │ x4        │
│     │ Float64   │ Float64   │ Float64    │ Float64   │
├─────┼───────────┼───────────┼────────────┼───────────┤
│ 1   │ 1.63295   │ 0.438967  │ -0.0793272 │ 0.766047  │
│ 2   │ 0.468157  │ -0.38645  │ -0.171288  │ 0.817953  │
│ 3   │ -1.06414  │ 0.867431  │ -0.228558  │ 0.025536  │
│ 4   │ 0.859518  │ 0.795225  │ 0.710399   │ 0.481508  │
│ 5   │ -0.662665 │ 1.49314   │ 0.485979   │ 0.909021  │
│ 6   │ -0.689374 │ 0.232254  │ -0.775774  │ 0.102437  │
│ 7   │ 0.260577  │ 0.928602  │ 0.00350043 │ 0.0406303 │
│ 8   │ 1.31575   │ 0.675672  │ -0.556424  │ 0.116603  │
│ 9   │ 1.75222   │ -0.645325 │ 0.650483   │ 0.33717   │
│ 10  │ 0.048894  │ 1.7881    │ 0.184979   │ 0.226599  │

## Reading and Writing DataFrames

In [47]:
using DataFrames

In [48]:
df =  DataFrame(A=[true, false, true], B=[23,45,67], C =['a','b','c'])

3×3 typename(DataFrame)
│ Row │ A    │ B     │ C    │
│     │ Bool │ Int64 │ Char │
├─────┼──────┼───────┼──────┤
│ 1   │ 1    │ 23    │ 'a'  │
│ 2   │ 0    │ 45    │ 'b'  │
│ 3   │ 1    │ 67    │ 'c'  │

In [49]:
Pkg.add("CSV")

In [64]:
using CSV

In [65]:
new_df = CSV.write("df.csv", df)

"df.csv"

In [70]:
df_new = CSV.read("df.csv",DataFrame)

3×3 typename(DataFrame)
│ Row │ A    │ B     │ C      │
│     │ Bool │ Int64 │ String │
├─────┼──────┼───────┼────────┤
│ 1   │ 1    │ 23    │ a      │
│ 2   │ 0    │ 45    │ b      │
│ 3   │ 1    │ 67    │ c      │

In [57]:
Pkg.add("Serialization")

In [71]:
using Serialization
open("df.bin", "w") do io
    serialize(io, df)
end

In [72]:
df_new

3×3 typename(DataFrame)
│ Row │ A    │ B     │ C      │
│     │ Bool │ Int64 │ String │
├─────┼──────┼───────┼────────┤
│ 1   │ 1    │ 23    │ a      │
│ 2   │ 0    │ 45    │ b      │
│ 3   │ 1    │ 67    │ c      │

In [73]:
open(deserialize, "df.bin")

3×3 typename(DataFrame)
│ Row │ A    │ B     │ C    │
│     │ Bool │ Int64 │ Char │
├─────┼──────┼───────┼──────┤
│ 1   │ 1    │ 23    │ 'a'  │
│ 2   │ 0    │ 45    │ 'b'  │
│ 3   │ 1    │ 67    │ 'c'  │

In [74]:
Pkg.add("JSONTables")

In [75]:
using JSONTables

In [76]:
open(io -> arraytable(io, df), "df.json", "w")

80

In [77]:
open(jsontable, "df.json") |> DataFrame

3×3 typename(DataFrame)
│ Row │ A    │ B     │ C      │
│     │ Bool │ Int64 │ String │
├─────┼──────┼───────┼────────┤
│ 1   │ 1    │ 23    │ a      │
│ 2   │ 0    │ 45    │ b      │
│ 3   │ 1    │ 67    │ c      │

## Rows and Column Operations

In [79]:
M1 = DataFrame(rand(5,4))

5×4 typename(DataFrame)
│ Row │ x1        │ x2       │ x3       │ x4        │
│     │ Float64   │ Float64  │ Float64  │ Float64   │
├─────┼───────────┼──────────┼──────────┼───────────┤
│ 1   │ 0.517341  │ 0.337742 │ 0.736594 │ 0.747265  │
│ 2   │ 0.0531338 │ 0.199773 │ 0.982529 │ 0.0827807 │
│ 3   │ 0.841607  │ 0.984159 │ 0.968802 │ 0.839925  │
│ 4   │ 0.966777  │ 0.285747 │ 0.418868 │ 0.0365868 │
│ 5   │ 0.954417  │ 0.350305 │ 0.64256  │ 0.460602  │

In [80]:
rename(M1, :x1 => :c1)

5×4 typename(DataFrame)
│ Row │ c1        │ x2       │ x3       │ x4        │
│     │ Float64   │ Float64  │ Float64  │ Float64   │
├─────┼───────────┼──────────┼──────────┼───────────┤
│ 1   │ 0.517341  │ 0.337742 │ 0.736594 │ 0.747265  │
│ 2   │ 0.0531338 │ 0.199773 │ 0.982529 │ 0.0827807 │
│ 3   │ 0.841607  │ 0.984159 │ 0.968802 │ 0.839925  │
│ 4   │ 0.966777  │ 0.285747 │ 0.418868 │ 0.0365868 │
│ 5   │ 0.954417  │ 0.350305 │ 0.64256  │ 0.460602  │

In [81]:
M1

5×4 typename(DataFrame)
│ Row │ x1        │ x2       │ x3       │ x4        │
│     │ Float64   │ Float64  │ Float64  │ Float64   │
├─────┼───────────┼──────────┼──────────┼───────────┤
│ 1   │ 0.517341  │ 0.337742 │ 0.736594 │ 0.747265  │
│ 2   │ 0.0531338 │ 0.199773 │ 0.982529 │ 0.0827807 │
│ 3   │ 0.841607  │ 0.984159 │ 0.968802 │ 0.839925  │
│ 4   │ 0.966777  │ 0.285747 │ 0.418868 │ 0.0365868 │
│ 5   │ 0.954417  │ 0.350305 │ 0.64256  │ 0.460602  │

In [82]:
rename!(M1, :x1 => :c1)

5×4 typename(DataFrame)
│ Row │ c1        │ x2       │ x3       │ x4        │
│     │ Float64   │ Float64  │ Float64  │ Float64   │
├─────┼───────────┼──────────┼──────────┼───────────┤
│ 1   │ 0.517341  │ 0.337742 │ 0.736594 │ 0.747265  │
│ 2   │ 0.0531338 │ 0.199773 │ 0.982529 │ 0.0827807 │
│ 3   │ 0.841607  │ 0.984159 │ 0.968802 │ 0.839925  │
│ 4   │ 0.966777  │ 0.285747 │ 0.418868 │ 0.0365868 │
│ 5   │ 0.954417  │ 0.350305 │ 0.64256  │ 0.460602  │

In [83]:
M1

5×4 typename(DataFrame)
│ Row │ c1        │ x2       │ x3       │ x4        │
│     │ Float64   │ Float64  │ Float64  │ Float64   │
├─────┼───────────┼──────────┼──────────┼───────────┤
│ 1   │ 0.517341  │ 0.337742 │ 0.736594 │ 0.747265  │
│ 2   │ 0.0531338 │ 0.199773 │ 0.982529 │ 0.0827807 │
│ 3   │ 0.841607  │ 0.984159 │ 0.968802 │ 0.839925  │
│ 4   │ 0.966777  │ 0.285747 │ 0.418868 │ 0.0365868 │
│ 5   │ 0.954417  │ 0.350305 │ 0.64256  │ 0.460602  │

In [84]:
rename!(M1, [:c1,:c2,:c3,:c4])

5×4 typename(DataFrame)
│ Row │ c1        │ c2       │ c3       │ c4        │
│     │ Float64   │ Float64  │ Float64  │ Float64   │
├─────┼───────────┼──────────┼──────────┼───────────┤
│ 1   │ 0.517341  │ 0.337742 │ 0.736594 │ 0.747265  │
│ 2   │ 0.0531338 │ 0.199773 │ 0.982529 │ 0.0827807 │
│ 3   │ 0.841607  │ 0.984159 │ 0.968802 │ 0.839925  │
│ 4   │ 0.966777  │ 0.285747 │ 0.418868 │ 0.0365868 │
│ 5   │ 0.954417  │ 0.350305 │ 0.64256  │ 0.460602  │

In [85]:
rename(M1, string.('a':'d'))

5×4 typename(DataFrame)
│ Row │ a         │ b        │ c        │ d         │
│     │ Float64   │ Float64  │ Float64  │ Float64   │
├─────┼───────────┼──────────┼──────────┼───────────┤
│ 1   │ 0.517341  │ 0.337742 │ 0.736594 │ 0.747265  │
│ 2   │ 0.0531338 │ 0.199773 │ 0.982529 │ 0.0827807 │
│ 3   │ 0.841607  │ 0.984159 │ 0.968802 │ 0.839925  │
│ 4   │ 0.966777  │ 0.285747 │ 0.418868 │ 0.0365868 │
│ 5   │ 0.954417  │ 0.350305 │ 0.64256  │ 0.460602  │

In [86]:
M2 = DataFrame(rand(5,4))

5×4 typename(DataFrame)
│ Row │ x1        │ x2       │ x3       │ x4       │
│     │ Float64   │ Float64  │ Float64  │ Float64  │
├─────┼───────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.563021  │ 0.320162 │ 0.434438 │ 0.240466 │
│ 2   │ 0.255245  │ 0.85241  │ 0.151372 │ 0.651337 │
│ 3   │ 0.803788  │ 0.544438 │ 0.346137 │ 0.265219 │
│ 4   │ 0.40536   │ 0.881521 │ 0.52381  │ 0.519988 │
│ 5   │ 0.0593337 │ 0.435103 │ 0.633356 │ 0.548077 │

In [87]:
hcat(M1,M2)   # it only works when column name is different

5×8 typename(DataFrame). Omitted printing of 2 columns
│ Row │ c1        │ c2       │ c3       │ c4        │ x1        │ x2       │
│     │ Float64   │ Float64  │ Float64  │ Float64   │ Float64   │ Float64  │
├─────┼───────────┼──────────┼──────────┼───────────┼───────────┼──────────┤
│ 1   │ 0.517341  │ 0.337742 │ 0.736594 │ 0.747265  │ 0.563021  │ 0.320162 │
│ 2   │ 0.0531338 │ 0.199773 │ 0.982529 │ 0.0827807 │ 0.255245  │ 0.85241  │
│ 3   │ 0.841607  │ 0.984159 │ 0.968802 │ 0.839925  │ 0.803788  │ 0.544438 │
│ 4   │ 0.966777  │ 0.285747 │ 0.418868 │ 0.0365868 │ 0.40536   │ 0.881521 │
│ 5   │ 0.954417  │ 0.350305 │ 0.64256  │ 0.460602  │ 0.0593337 │ 0.435103 │

In [88]:
M3 = DataFrame(rand(5,4))

5×4 typename(DataFrame)
│ Row │ x1       │ x2       │ x3        │ x4       │
│     │ Float64  │ Float64  │ Float64   │ Float64  │
├─────┼──────────┼──────────┼───────────┼──────────┤
│ 1   │ 0.91302  │ 0.756705 │ 0.911524  │ 0.330197 │
│ 2   │ 0.198648 │ 0.403114 │ 0.0543178 │ 0.974635 │
│ 3   │ 0.709378 │ 0.286534 │ 0.776781  │ 0.505842 │
│ 4   │ 0.77527  │ 0.514398 │ 0.753273  │ 0.694221 │
│ 5   │ 0.853583 │ 0.391648 │ 0.235674  │ 0.268137 │

In [91]:
hcat(M2,M3, makeunique=true) # use this when column name is same

5×8 typename(DataFrame). Omitted printing of 2 columns
│ Row │ x1        │ x2       │ x3       │ x4       │ x1_1     │ x2_1     │
│     │ Float64   │ Float64  │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼───────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.563021  │ 0.320162 │ 0.434438 │ 0.240466 │ 0.91302  │ 0.756705 │
│ 2   │ 0.255245  │ 0.85241  │ 0.151372 │ 0.651337 │ 0.198648 │ 0.403114 │
│ 3   │ 0.803788  │ 0.544438 │ 0.346137 │ 0.265219 │ 0.709378 │ 0.286534 │
│ 4   │ 0.40536   │ 0.881521 │ 0.52381  │ 0.519988 │ 0.77527  │ 0.514398 │
│ 5   │ 0.0593337 │ 0.435103 │ 0.633356 │ 0.548077 │ 0.853583 │ 0.391648 │

In [93]:
vcat(M1, M2) #this is due to column name is mismatch

LoadError: ArgumentError: column(s) x1, x2, x3 and x4 are missing from argument(s) 1, and column(s) c1, c2, c3 and c4 are missing from argument(s) 2

In [94]:
vcat(M2,M3)

10×4 typename(DataFrame)
│ Row │ x1        │ x2       │ x3        │ x4       │
│     │ Float64   │ Float64  │ Float64   │ Float64  │
├─────┼───────────┼──────────┼───────────┼──────────┤
│ 1   │ 0.563021  │ 0.320162 │ 0.434438  │ 0.240466 │
│ 2   │ 0.255245  │ 0.85241  │ 0.151372  │ 0.651337 │
│ 3   │ 0.803788  │ 0.544438 │ 0.346137  │ 0.265219 │
│ 4   │ 0.40536   │ 0.881521 │ 0.52381   │ 0.519988 │
│ 5   │ 0.0593337 │ 0.435103 │ 0.633356  │ 0.548077 │
│ 6   │ 0.91302   │ 0.756705 │ 0.911524  │ 0.330197 │
│ 7   │ 0.198648  │ 0.403114 │ 0.0543178 │ 0.974635 │
│ 8   │ 0.709378  │ 0.286534 │ 0.776781  │ 0.505842 │
│ 9   │ 0.77527   │ 0.514398 │ 0.753273  │ 0.694221 │
│ 10  │ 0.853583  │ 0.391648 │ 0.235674  │ 0.268137 │

In [95]:
[M1 DataFrame(A=[1,2,3,4,5])] #at last

5×5 typename(DataFrame)
│ Row │ c1        │ c2       │ c3       │ c4        │ A     │
│     │ Float64   │ Float64  │ Float64  │ Float64   │ Int64 │
├─────┼───────────┼──────────┼──────────┼───────────┼───────┤
│ 1   │ 0.517341  │ 0.337742 │ 0.736594 │ 0.747265  │ 1     │
│ 2   │ 0.0531338 │ 0.199773 │ 0.982529 │ 0.0827807 │ 2     │
│ 3   │ 0.841607  │ 0.984159 │ 0.968802 │ 0.839925  │ 3     │
│ 4   │ 0.966777  │ 0.285747 │ 0.418868 │ 0.0365868 │ 4     │
│ 5   │ 0.954417  │ 0.350305 │ 0.64256  │ 0.460602  │ 5     │

In [96]:
[DataFrame(A=[1,2,3,4,5]) M1] #at first

5×5 typename(DataFrame)
│ Row │ A     │ c1        │ c2       │ c3       │ c4        │
│     │ Int64 │ Float64   │ Float64  │ Float64  │ Float64   │
├─────┼───────┼───────────┼──────────┼──────────┼───────────┤
│ 1   │ 1     │ 0.517341  │ 0.337742 │ 0.736594 │ 0.747265  │
│ 2   │ 2     │ 0.0531338 │ 0.199773 │ 0.982529 │ 0.0827807 │
│ 3   │ 3     │ 0.841607  │ 0.984159 │ 0.968802 │ 0.839925  │
│ 4   │ 4     │ 0.966777  │ 0.285747 │ 0.418868 │ 0.0365868 │
│ 5   │ 5     │ 0.954417  │ 0.350305 │ 0.64256  │ 0.460602  │

In [97]:
insertcols!(M1, 3 ,newcol=[1,2,3,4,5] ) # between 2 and 3

5×5 typename(DataFrame)
│ Row │ c1        │ c2       │ newcol │ c3       │ c4        │
│     │ Float64   │ Float64  │ Int64  │ Float64  │ Float64   │
├─────┼───────────┼──────────┼────────┼──────────┼───────────┤
│ 1   │ 0.517341  │ 0.337742 │ 1      │ 0.736594 │ 0.747265  │
│ 2   │ 0.0531338 │ 0.199773 │ 2      │ 0.982529 │ 0.0827807 │
│ 3   │ 0.841607  │ 0.984159 │ 3      │ 0.968802 │ 0.839925  │
│ 4   │ 0.966777  │ 0.285747 │ 4      │ 0.418868 │ 0.0365868 │
│ 5   │ 0.954417  │ 0.350305 │ 5      │ 0.64256  │ 0.460602  │

In [99]:
M1[:,[:c2, :c3]]

5×2 typename(DataFrame)
│ Row │ c2       │ c3       │
│     │ Float64  │ Float64  │
├─────┼──────────┼──────────┤
│ 1   │ 0.337742 │ 0.736594 │
│ 2   │ 0.199773 │ 0.982529 │
│ 3   │ 0.984159 │ 0.968802 │
│ 4   │ 0.285747 │ 0.418868 │
│ 5   │ 0.350305 │ 0.64256  │

In [100]:
cp_M1 = copy(M1) #two different datframe at two different location

5×5 typename(DataFrame)
│ Row │ c1        │ c2       │ newcol │ c3       │ c4        │
│     │ Float64   │ Float64  │ Int64  │ Float64  │ Float64   │
├─────┼───────────┼──────────┼────────┼──────────┼───────────┤
│ 1   │ 0.517341  │ 0.337742 │ 1      │ 0.736594 │ 0.747265  │
│ 2   │ 0.0531338 │ 0.199773 │ 2      │ 0.982529 │ 0.0827807 │
│ 3   │ 0.841607  │ 0.984159 │ 3      │ 0.968802 │ 0.839925  │
│ 4   │ 0.966777  │ 0.285747 │ 4      │ 0.418868 │ 0.0365868 │
│ 5   │ 0.954417  │ 0.350305 │ 5      │ 0.64256  │ 0.460602  │

In [101]:
M1 == cp_M1

true

In [103]:
sort(M1, :c1)

5×5 typename(DataFrame)
│ Row │ c1        │ c2       │ newcol │ c3       │ c4        │
│     │ Float64   │ Float64  │ Int64  │ Float64  │ Float64   │
├─────┼───────────┼──────────┼────────┼──────────┼───────────┤
│ 1   │ 0.0531338 │ 0.199773 │ 2      │ 0.982529 │ 0.0827807 │
│ 2   │ 0.517341  │ 0.337742 │ 1      │ 0.736594 │ 0.747265  │
│ 3   │ 0.841607  │ 0.984159 │ 3      │ 0.968802 │ 0.839925  │
│ 4   │ 0.954417  │ 0.350305 │ 5      │ 0.64256  │ 0.460602  │
│ 5   │ 0.966777  │ 0.285747 │ 4      │ 0.418868 │ 0.0365868 │

In [104]:
deleterows!(M1, 4)

4×5 typename(DataFrame)
│ Row │ c1        │ c2       │ newcol │ c3       │ c4        │
│     │ Float64   │ Float64  │ Int64  │ Float64  │ Float64   │
├─────┼───────────┼──────────┼────────┼──────────┼───────────┤
│ 1   │ 0.517341  │ 0.337742 │ 1      │ 0.736594 │ 0.747265  │
│ 2   │ 0.0531338 │ 0.199773 │ 2      │ 0.982529 │ 0.0827807 │
│ 3   │ 0.841607  │ 0.984159 │ 3      │ 0.968802 │ 0.839925  │
│ 4   │ 0.954417  │ 0.350305 │ 5      │ 0.64256  │ 0.460602  │

In [105]:
deletecols!(M1, :c2)

4×4 typename(DataFrame)
│ Row │ c1        │ newcol │ c3       │ c4        │
│     │ Float64   │ Int64  │ Float64  │ Float64   │
├─────┼───────────┼────────┼──────────┼───────────┤
│ 1   │ 0.517341  │ 1      │ 0.736594 │ 0.747265  │
│ 2   │ 0.0531338 │ 2      │ 0.982529 │ 0.0827807 │
│ 3   │ 0.841607  │ 3      │ 0.968802 │ 0.839925  │
│ 4   │ 0.954417  │ 5      │ 0.64256  │ 0.460602  │

In [107]:
filter(r -> r.c1 > 0.7, M1)

2×4 typename(DataFrame)
│ Row │ c1       │ newcol │ c3       │ c4       │
│     │ Float64  │ Int64  │ Float64  │ Float64  │
├─────┼──────────┼────────┼──────────┼──────────┤
│ 1   │ 0.841607 │ 3      │ 0.968802 │ 0.839925 │
│ 2   │ 0.954417 │ 5      │ 0.64256  │ 0.460602 │