## Multiple Regression

In [1]:
using CSV

In [2]:
using DataFrames

In [4]:
s2 = CSV.read("../../JuliaDataset/salary.csv", DataFrame)

46×7 typename(DataFrame). Omitted printing of 3 columns
│ Row │ Salary │ Years_Previous_Experience │ Years_Employed │ Years_Education │
│     │ Int64  │ Int64                     │ Int64          │ Int64           │
├─────┼────────┼───────────────────────────┼────────────────┼─────────────────┤
│ 1   │ 32782  │ 1                         │ 0              │ 7               │
│ 2   │ 32920  │ 3                         │ 15             │ 9               │
│ 3   │ 29548  │ 6                         │ 5              │ 1               │
│ 4   │ 39828  │ 6                         │ 18             │ 5               │
│ 5   │ 31528  │ 11                        │ 3              │ 3               │
│ 6   │ 38985  │ 7                         │ 18             │ 9               │
│ 7   │ 41889  │ 16                        │ 22             │ 7               │
│ 8   │ 38791  │ 4                         │ 21             │ 5               │
│ 9   │ 28985  │ 1                         │ 0              │ 4               │
│ 10  │ 24749  │ 2                         │ 6              │ 0               │
⋮
│ 36  │ 36487  │ 5                         │ 6              │ 2               │
│ 37  │ 34632  │ 4                         │ 5              │ 4               │
│ 38  │ 46211  │ 5                         │ 14             │ 6               │
│ 39  │ 51698  │ 6                         │ 18             │ 6               │
│ 40  │ 69246  │ 3                         │ 22             │ 10              │
│ 41  │ 48695  │ 19                        │ 6              │ 8               │
│ 42  │ 34987  │ 6                         │ 9              │ 2               │
│ 43  │ 35631  │ 4                         │ 6              │ 4               │
│ 44  │ 39743  │ 6                         │ 9              │ 5               │
│ 45  │ 41255  │ 4                         │ 9              │ 6               │
│ 46  │ 26452  │ 3                         │ 1              │ 2               │

In [5]:
names(s2)

7-element Vector{Symbol}:
 :Salary
 :Years_Previous_Experience
 :Years_Employed
 :Years_Education
 :Gender
 :Department
 :Number_Supervised

In [6]:
using GLM

In [7]:
ols = lm(@formula(Salary ~ Years_Previous_Experience + Years_Employed + Years_Education + Gender) , s2)

StatsModels.TableRegressionModel{LinearModel{GLM.LmResp{Vector{Float64}}, GLM.DensePredChol{Float64, LinearAlgebra.CholeskyPivoted{Float64, Matrix{Float64}}}}, Matrix{Float64}}

Salary ~ 1 + Years_Previous_Experience + Years_Employed + Years_Education + Gender

Coefficients:
───────────────────────────────────────────────────────────────────────────────────────
                               Coef.  Std. Error      t  Pr(>|t|)  Lower 95%  Upper 95%
───────────────────────────────────────────────────────────────────────────────────────
(Intercept)                23167.1      2072.0    11.18    <1e-13   18982.6   27351.6
Years_Previous_Experience   -114.747     239.075  -0.48    0.6338    -597.57    368.075
Years_Employed               656.497     144.942   4.53    <1e-04     363.78    949.214
Years_Education             1903.99      386.932   4.92    <1e-04    1122.56   2685.41
Gender: Male                1468.1      1804.27    0.81    0.4205   -2175.69   5111.9
───────────────────────────────────────────────────────────────────────────────────────

In [8]:
predict(ols, DataFrame(Years_Previous_Experience = [5], Years_Employed = [7], Years_Education = [12],Gender = ["Male"]   ))

1-element Vector{Union{Missing, Float64}}:
 51504.78590840759

In [9]:
predict(ols, DataFrame(Years_Previous_Experience = [5], Years_Employed = [7], Years_Education = [12],Gender = ["Female"]   ))

1-element Vector{Union{Missing, Float64}}:
 50036.684170866

In [10]:
predict(ols, DataFrame(Years_Previous_Experience = [5 , 4], Years_Employed = [7, 9], Years_Education = [12, 15],Gender = ["Female", "Male"]   ))

2-element Vector{Union{Missing, Float64}}:
 50036.684170866
 58644.48357131525